    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

    @import 'tailwindcss';

    @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
    @source '../../storage/framework/views/*.php';
    @source '../**/*.blade.php';
    @source '../**/*.js';

    @theme {
        /* --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol', 'Noto Color Emoji'; */

        --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol', 'Noto Color Emoji';

        --color-test: #0E3087;

        --color-primary-100: #eef2ff;
        --color-primary-200: #dbe4ff;
        --color-primary-300: #b8c6ff;
        --color-primary-400: #4d73f2;
        --color-primary-500: #0E3087;
        --color-primary-600: #0c296e;
        --color-primary-700: #0a225b;
        --color-primary-800: #081b48;
        --color-primary-900: #000723;
    }
